body {
  background: #999;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100px;
  width: 100vw;
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.note-row {
  display: flex;
  justify-content: center;
}

.notes {
  display: flex
}

